#main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#h5p-uml-draganddrop
{
  display: flex;
  justify-content: center;
}

#canvas-wrapper 
{
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas-wrapper > canvas 
{
    border: 1px solid black;
}

.prompt-text
{
  padding: 2rem 0;
}